<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css" type="text/css">
  <link rel="stylesheet" href="/css/skeleton.css" type="text/css">
</head>
<body>
  {% include "globals/header.njk" %}
  <main class="container" role="main">
    {% block main %}
    {% endblock %}
  </main>
  {% include "globals/footer.njk" %}
</body>
</html>